.socialMedia {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: max-content;

  .socialMediaLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    fill: rgb(var(--head-sub-rgb));
  }
}
