@use "../../../globalStyles/globalClasses";

.authorRefButton {
  width: max-content;

  .authorRefText {
    @extend .sub2;
    text-decoration: none;
    line-height: normal;

    .heart {
      color: rgb(var(--accent-1-rgb));
      transition: color 0.1s ease;
    }

    &:hover {
      .heart {
        color: rgb(var(--body-rgb));
        transition: color 0.2s ease;
      }
    }
  }
}
