.header, .h5, .h4, .h3, .h2, .h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.015rem;
  color: rgb(var(--head-sub-rgb));
}

.h1 {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 0.40625rem + 7.25vw, 6.75rem);
}

.h2 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.375rem + 3vw, 4.375rem);
}

.h3 {
  font-size: 55px;
}

.h4 {
  font-size: 1.875rem;
  font-size: clamp(1.875rem, 1.64rem + 0.625vw, 2.1875rem);
}

.h5 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.015625rem + 0.625vw, 1.5625rem);
}

.subtitle, .sub3, .sub2, .sub1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: rgb(var(--head-sub-rgb));
}

.sub1 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.015625rem + 0.625vw, 1.5625rem);
}

.sub2 {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.59375rem + 0.75vw, 1.25rem);
}

.sub3 {
  font-size: 18px;
}

.body, .b2, .b1 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: rgb(var(--body-rgb));
}

.b1 {
  font-size: 0.8125rem;
  font-size: clamp(0.8125rem, 0.671875rem + 0.375vw, 1rem);
}

.b2 {
  font-size: 14px;
}

.container {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  cursor: pointer;
}
.container .content {
  position: relative;
}
.container .fill, .container .fill2, .container .fill1 {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-105%);
          transform: translateY(-105%);
  will-change: transform;
  z-index: 0;
}
.container .fill1 {
  background-color: rgb(var(--accent-2-rgb));
}
.container .fill2 {
  background-color: rgb(var(--accent-1-rgb));
}
.container:hover .fill, .container:hover .fill1, .container:hover .fill2 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.container.active .fill, .container.active .fill1, .container.active .fill2 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.animated .fill1 {
  -webkit-transition: -webkit-transform 0.25s 0.05s var(--fill-anim-timing-func);
  transition: -webkit-transform 0.25s 0.05s var(--fill-anim-timing-func);
  transition: transform 0.25s 0.05s var(--fill-anim-timing-func);
  transition: transform 0.25s 0.05s var(--fill-anim-timing-func), -webkit-transform 0.25s 0.05s var(--fill-anim-timing-func);
}
.animated .fill2 {
  -webkit-transition: -webkit-transform 0.25s var(--fill-anim-timing-func);
  transition: -webkit-transform 0.25s var(--fill-anim-timing-func);
  transition: transform 0.25s var(--fill-anim-timing-func);
  transition: transform 0.25s var(--fill-anim-timing-func), -webkit-transform 0.25s var(--fill-anim-timing-func);
}
.animated:hover .fill, .animated:hover .container .fill1, .container .animated:hover .fill1, .animated:hover .container .fill2, .container .animated:hover .fill2 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.animated:hover .fill1 {
  -webkit-transition: -webkit-transform 0.35s var(--fill-anim-timing-func);
  transition: -webkit-transform 0.35s var(--fill-anim-timing-func);
  transition: transform 0.35s var(--fill-anim-timing-func);
  transition: transform 0.35s var(--fill-anim-timing-func), -webkit-transform 0.35s var(--fill-anim-timing-func);
}
.animated:hover .fill2 {
  -webkit-transition: -webkit-transform 0.35s 0.1s var(--fill-anim-timing-func);
  transition: -webkit-transform 0.35s 0.1s var(--fill-anim-timing-func);
  transition: transform 0.35s 0.1s var(--fill-anim-timing-func);
  transition: transform 0.35s 0.1s var(--fill-anim-timing-func), -webkit-transform 0.35s 0.1s var(--fill-anim-timing-func);
}/*# sourceMappingURL=Button.module.css.map */