$fill-function: var(--fill-anim-timing-func);

.container {
  position: relative;
  width: max-content;
  overflow: hidden;
  cursor: pointer;

  .fill {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(-105%);
    will-change: transform;
    z-index: -1;
  }

  .fill1 {
    @extend .fill;
    background-color: rgb(var(--accent-2-rgb));
    transition: transform 0.25s 0.05s $fill-function;
  }

  .fill2 {
    @extend .fill;
    background-color: rgb(var(--accent-1-rgb));
    transition: transform 0.25s $fill-function;
  }

  &:hover {
    .fill {
      transform: translateY(0%);
    }

    .fill1 {
      transition: transform 0.35s $fill-function;
    }

    .fill2 {
      transition: transform 0.35s 0.1s $fill-function;
    }
  }
}
