@use "../../../globalStyles/globalClasses";

$section-side-padding: 55px;

.logo {
  position: absolute;
  width: clamp(40vw, 945px, 50vw);
  height: max-content;
  bottom: 0.9em;
  opacity: 50%;
  fill: rgb(var(--accent-1-rgb));
  z-index: -1;
}

.carouselContainer {
  display: flex;
  flex-direction: row;
  margin: 0 calc(calc(var(--root-layout-padding) + $section-side-padding) * -1)
    15px;

  .nameCarousel {
    position: relative;
    height: max-content;
    animation: nameSlide 15s linear infinite;

    .name {
      width: 100%;
      font-size: 8rem;
      font-family: "Montserrat";
      font-weight: 500;
      text-wrap: nowrap;
      letter-spacing: 1rem;
      line-height: 1em;

      .spacer {
        margin: 0 2vw;
        font-size: 9rem;
      }
    }

    @keyframes nameSlide {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

.homeSection {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--root-layout-padding) $section-side-padding 0px
    $section-side-padding;

  .topInfo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 15px;
    height: max-content;
    width: max-content;

    .email {
      @extend .sub1;
    }
  }

  .botInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;

    .locationRole {
      @extend .sub1;
      align-self: flex-start;
      margin-bottom: 70px;
    }

    .workInProgress {
      @extend .sub1;
      align-self: flex-end;
      margin-bottom: 30px;
    }
  }
}
