@use "../../../globalStyles/globalClasses";

.socialMedia {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 25px;
  width: max-content;

  .socialMediaLogo {
    display: flex;
    align-items: center;
    height: 45px;
    width: 45px;
    fill: rgb(var(--head-sub-rgb));
  }
}

.logo {
  position: absolute;
  width: clamp(40vw, 945px, 50vw);
  height: max-content;
  bottom: 0.9em;
  opacity: 50%;
  fill: rgb(var(--accent-1-rgb));
  z-index: -1;
}

.nameCarousel {
  height: max-content;
  transform: translateX(-50%);

  .name {
    width: 100%;
    font-size: 8rem;
    font-family: "Montserrat";
    font-weight: 500;
    text-wrap: nowrap;
    letter-spacing: 1rem;
    line-height: 1em;
  }
}

.homeSection {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 55px 0px 55px;

  .topInfo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 25px;
    height: max-content;
    width: max-content;

    .email {
      @extend .sub1;
    }
  }

  .botInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;

    .locationRole {
      @extend .sub1;
      align-self: flex-start;
      margin-bottom: 70px;
    }

    .workInProgress {
      @extend .sub1;
      align-self: flex-end;
      margin-bottom: 30px;
    }
  }
}
