@use "../../../globalStyles/globalClasses";

.link {
  text-decoration: none;

  .text {
    @extend .sub2;

    .arrow {
      display: inline-block;
      transform: translateY(-7%) scaleY(140%);
    }
  }
}
