@use "../../../globalStyles/globalClasses";

.links {
  display: flex;
  gap: 5px;
  z-index: 1;

  .navItem {
    flex-direction: row-reverse;

    .navText {
      @extend .sub2;
      text-decoration: none;
      color: rgb(var(--head-sub-rgb));
    }

    .separator {
      @extend .sub2;
    }
  }

  .navLink {
    @extend .navItem;
  }

  .navMenuButton {
    @extend .navItem;
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: none;
  }
}
