@use "../globalStyles/globalClasses";

.carouselContainer {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .nameCarousel {
    position: relative;
    height: max-content;
    animation: nameSlide 15s linear infinite;
    z-index: 10;

    .name {
      @extend .h1;
      overflow: visible;
      letter-spacing: clamp(1rem, -0.5rem + 4vw, 3rem);
      white-space: nowrap;
      line-height: 1em;

      .spacer {
        margin: 0 2vw;
      }
    }

    @keyframes nameSlide {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .authorButton {
    position: absolute;
    bottom: 3rem;
  }
}
