@use "../../../globalStyles/globalClasses";

.container {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 35px;
  height: max-content;
  margin: var(--page-section-margin);
  padding: var(--page-section-padding);
  overflow: hidden;

  .title {
    @extend .h2;
    overflow-wrap: break-word;
    font-size: 2rem;
    font-size: clamp(2rem, 1.375rem + 3vw, 4.375rem);

    .arrow {
      display: inline-block;
      transform: scale(1.3) translate(5px, -5px);
    }
  }

  @media screen and (max-width: 600px) {
    padding-bottom: calc(var(--root-layout-padding) * 6);
  }
}
