@use "../../../globalStyles/globalClasses";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  height: 100%;
  margin: 0 calc(var(--root-layout-padding) * 2);
  overflow: visible;

  .title {
    @extend .h1;
  }

  .textContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 70vw;

    .text {
      @extend .b1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 30px;
      height: 200px;
      width: 50%;

      .goToBtnContainer {
        .goToBtnText {
          @extend .sub1;
        }
      }
    }
  }
}
