@use "../../globalStyles/globalClasses";

$line-width: 1px;
$corner-square-size: 4px;
$corner-square-separation: calc($corner-square-size * 3);

// Solution for deco lines looking bad on Safari/Chrome mobile. Test once picture is finished.
// @media screen and (min-width: 600px) {
//   .side-line {
//     display: block;
//     position: fixed;
//     height: 85vh;
//     width: $line-width;
//     background-color: rgb(var(--accent-1-rgb));
//     z-index: -1;
//   }

//   .top-bot-line {
//     position: fixed;
//     height: $line-width;
//     width: clamp(65vw, -9.84375rem + 91.25vw, 80vw);
//     background-color: rgb(var(--accent-1-rgb));
//   }

//   .corner-square {
//     position: absolute;
//     display: block;
//     border: calc($corner-square-size * 2) solid rgb(var(--background-rgb));
//     width: $corner-square-size;
//     height: $corner-square-size;
//     background-color: rgb(var(--accent-1-rgb));
//     z-index: 10;
//   }
// }

.side-line {
  display: block;
  position: fixed;
  height: 85vh;
  width: $line-width;
  background-color: rgb(var(--accent-1-rgb));
  z-index: -1;
}

.top-bot-line {
  position: fixed;
  height: $line-width;
  width: clamp(65vw, -9.84375rem + 91.25vw, 80vw);
  background-color: rgb(var(--accent-1-rgb));
}

.corner-square {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: $corner-square-size;
  height: $corner-square-size;
  background-color: rgb(var(--accent-1-rgb));
  z-index: 10;
}

.container {
  width: 100%;
  height: 100%;

  .content {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  &::before {
    @extend .side-line;
    content: "";
    transform: translateY(calc($corner-square-separation * -1));
    left: var(--root-layout-padding);
    bottom: var(--root-layout-padding);
  }

  &::after {
    @extend .side-line;
    content: "";
    transform: translateY($corner-square-separation);
    right: var(--root-layout-padding);
    top: var(--root-layout-padding);
  }

  .topLine {
    @extend .top-bot-line;
    top: var(--root-layout-padding);
    right: var(--root-layout-padding);
    transform: translateX(calc($corner-square-separation * -1));

    &::after {
      @extend .corner-square;
      content: "";
      right: 0;
      top: 0;
      transform: translateX($corner-square-separation);
    }
  }

  .botLine {
    @extend .top-bot-line;
    bottom: var(--root-layout-padding);
    left: var(--root-layout-padding);
    transform: translateX($corner-square-separation);

    &::before {
      @extend .corner-square;
      content: "";
      left: 0;
      bottom: 0;
      transform: translateX(calc($corner-square-separation * -1));
    }
  }

  .authorNTheme {
    position: fixed;
    top: var(--root-layout-padding);
    left: var(--root-layout-padding);
  }
}
