.header, .h5, .h4, .h3, .h2, .h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.015rem;
  color: rgb(var(--head-sub-rgb));
}

.h1 {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 0.40625rem + 7.25vw, 6.75rem);
}

.h2 {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 2.1875rem + 2.5vw, 4.375rem);
}

.h3 {
  font-size: 55px;
}

.h4 {
  font-size: 1.875rem;
  font-size: clamp(1.875rem, 1.640625rem + 0.625vw, 2.1875rem);
}

.h5 {
  font-size: 25px;
}

.subtitle, .sub3, .sub2, .sub1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: rgb(var(--head-sub-rgb));
}

.sub1 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.015625rem + 0.625vw, 1.5625rem);
}

.sub2 {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.59375rem + 0.75vw, 1.25rem);
}

.sub3 {
  font-size: 18px;
}

.body, .b2, .b1 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: rgb(var(--body-rgb));
}

.b1 {
  font-size: 0.8125rem;
  font-size: clamp(0.8125rem, 0.671875rem + 0.375vw, 1rem);
}

.b2 {
  font-size: 14px;
}

.side-line, .container::after, .container::before {
  display: block;
  position: fixed;
  height: 85vh;
  width: 1px;
  background-color: rgb(var(--accent-1-rgb));
  z-index: 15;
}

.top-bot-line, .container .botLine, .container .topLine {
  position: fixed;
  height: 1px;
  width: clamp(65vw, -9.84375rem + 91.25vw, 80vw);
  background-color: rgb(var(--accent-1-rgb));
  z-index: 15;
}

.corner-square, .container .botLine::before, .container .topLine::after {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 4px;
  height: 4px;
  background-color: rgb(var(--accent-1-rgb));
}

.container {
  width: 100%;
  height: 100%;
}
.container .content {
  width: 100%;
}
.container::before {
  content: "";
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  left: var(--root-layout-padding);
  bottom: var(--root-layout-padding);
}
.container::after {
  content: "";
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  right: var(--root-layout-padding);
  top: var(--root-layout-padding);
}
.container .topLine {
  top: var(--root-layout-padding);
  right: var(--root-layout-padding);
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}
.container .topLine::after {
  content: "";
  right: 0;
  top: 0;
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}
.container .botLine {
  bottom: var(--root-layout-padding);
  left: var(--root-layout-padding);
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}
.container .botLine::before {
  content: "";
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}
.container .authorNTheme {
  position: fixed;
  top: var(--root-layout-padding);
  left: var(--root-layout-padding);
}/*# sourceMappingURL=MainLayout.module.css.map */