@use "../../../globalStyles/globalClasses";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .links {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .separator {
      @extend .sub2;
    }
  }
}
