@use "../../globalStyles/globalClasses";

$fill-function: var(--fill-anim-timing-func);
$hide-anim-params: hide 1s $fill-function forwards;
$show-anim-params: hide 0.8s $fill-function reverse forwards;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  pointer-events: none;
  z-index: 10;

  * {
    animation: $hide-anim-params;
    top: 0%;
  }

  .screen {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--background-rgb));
    z-index: 11;

    .title {
      @extend .h1;
      text-align: right;
      letter-spacing: 7rem;
      margin-right: -7rem;
    }
  }

  .fill {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
  }

  .fill1 {
    @extend .fill;
    background-color: rgb(var(--accent-1-rgb));
    animation-delay: 1s;
  }

  .fill2 {
    @extend .fill;
    background-color: rgb(var(--accent-2-rgb));
    animation-delay: 2s;
  }

  @keyframes hide {
    0% {
      top: 0;
    }
    100% {
      top: -100%;
    }
  }
}
