.header, .h5, .h4, .h3, .h2, .h1, .container .screen .title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.015rem;
  color: rgb(var(--head-sub-rgb));
}

.h1, .container .screen .title h1 {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 0.40625rem + 7.25vw, 6.75rem);
}

.h2 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.375rem + 3vw, 4.375rem);
}

.h3 {
  font-size: 55px;
}

.h4 {
  font-size: 1.875rem;
  font-size: clamp(1.875rem, 1.640625rem + 0.625vw, 2.1875rem);
}

.h5 {
  font-size: 25px;
}

.subtitle, .sub3, .sub2, .sub1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: rgb(var(--head-sub-rgb));
}

.sub1 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.015625rem + 0.625vw, 1.5625rem);
}

.sub2 {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.59375rem + 0.75vw, 1.25rem);
}

.sub3 {
  font-size: 18px;
}

.body, .b2, .b1 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: rgb(var(--body-rgb));
}

.b1 {
  font-size: 0.8125rem;
  font-size: clamp(0.8125rem, 0.671875rem + 0.375vw, 1rem);
}

.b2 {
  font-size: 14px;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  z-index: 100;
}
.container.show * {
  will-change: transform;
  -webkit-animation: show 0.5s var(--fill-anim-timing-func) forwards;
          animation: show 0.5s var(--fill-anim-timing-func) forwards;
  bottom: 0;
}
.container.show .screen {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
}
.container.show .screen .title h1 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.container.show .fill1 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  opacity: 0;
}
.container.show .fill2 {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  opacity: 0;
}
.container.hide * {
  will-change: transform;
  -webkit-animation: hide 1s var(--fill-anim-timing-func) forwards;
          animation: hide 1s var(--fill-anim-timing-func) forwards;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  top: 0;
}
.container.hide .fill1 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.container.hide .fill2 {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.container .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(var(--background-rgb));
  z-index: 10;
}
.container .screen .title {
  overflow: hidden;
}
.container .screen .title h1 {
  letter-spacing: clamp(1rem, -3.5rem + 12vw, 7rem);
  margin-right: calc(clamp(1rem, -3.5rem + 12vw, 7rem) * -1);
  -webkit-animation: showTitle 2s var(--fill-anim-timing-func) forwards;
          animation: showTitle 2s var(--fill-anim-timing-func) forwards;
}
.container .fill, .container .fill2, .container .fill1 {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.container .fill1 {
  background-color: rgb(var(--accent-1-rgb));
}
.container .fill2 {
  background-color: rgb(var(--accent-2-rgb));
}
@-webkit-keyframes showTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes showTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes hide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes hide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes show {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes show {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}/*# sourceMappingURL=LoadingScreen.module.css.map */